* {
  margin: 0;
}

.container {
  background: rgb(34, 34, 34);
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

header {
  grid-column: 1/3;
  grid-row: 1/3;
}

.s {
  padding: 20px;
  background: rgb(84, 84, 84);
  text-align: center;
  color: #fff;
}
